.gallery {
    padding: 5px;
}
.gallery-navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 10px 0; /* Added padding for better spacing */
}

.button {
    min-width: 100px; /* Ensure all buttons have the same minimum width */
    padding: 8px 16px; /* Consistent padding */
    background-color: #007bff; /* Example blue color for default button */
    color: white;
    border: none;
    border-radius: 4px; /* Optional rounded corners */
    cursor: pointer;
}

.button-hidden {
    visibility: hidden; /* Hide but maintain space */
}

.filedate {
    font-size: 20px;
    text-align: center;
}
