opencv-env/
src/__pycache__
.DS_Store
src/ParkitConfiguration.xml
src/data/PreviousReferenceFrame.npy
src/data/parkit.log
src/appsrc/csv/parkit-data.csv
src/appsrc/png/parkit-data-analytics-graph.png
src/appsrc/data.txt